$light-grey: #EAEAEA;
$light-grey-background: #F6F6F6;
$grey: #353535;
$grey-icons: #7E7E7E;
$black: #000;
$purple: #9356DC;
$pink: #FF79DA;
$white: #fff;
$green: #008766;
$light-green: #99E2D0;

@mixin gradient-backgroud {
  background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
}

@mixin gradient-heart {
  @include gradient-backgroud;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}