@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.loader {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 22;
  animation: loading 3s forwards;
  background: #fff;
}
.loader__load {
  display: flex;
  justify-content: space-evenly;
}
.loader__load__ball {
  display: block;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  animation: balls 1s infinite backwards ease-in-out alternate;
}
.loader__load__ball--1 {
  animation-delay: 1124ms;
}
.loader__load__ball--2 {
  animation-delay: 400ms;
}
.loader__load__ball--3 {
  animation-delay: 994ms;
}
.loader__load__ball--4 {
  animation-delay: 392ms;
}
.loader__load__ball--5 {
  animation-delay: 1130ms;
}

.container {
  margin: 0;
}
.container .container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.container .container__logo .logo {
  width: 200px;
}
.container .container__location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 1;
}
.container .container__location button {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  border: none;
}
.container .container__location span {
  margin-right: 15px;
}
.container .container__reservation {
  height: 300px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container .container__reservation__title {
  width: 275px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.container .container__reservation__text {
  width: 315px;
  text-align: center;
  color: #353535;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 800px) {
  .container .container__reservation {
    padding-right: 120px;
    padding-left: 120px;
  }
  .container .container__reservation__title {
    width: 100%;
  }
  .container .container__reservation__text {
    width: 100%;
  }
}
.container__functioning {
  width: 100%;
  height: 440px;
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.container__functioning__card {
  display: flex;
  width: 100%;
  height: 73px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
}
.container__functioning__card .number {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -10px;
}
.container__functioning__card .icon {
  color: #7E7E7E;
  font-size: 20px;
  margin-right: 20px;
}
.container__functioning__card .text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.container__functioning__card--active {
  color: #9356DC !important;
}
@media screen and (min-width: 800px) {
  .container__functioning {
    padding-right: 120px;
    padding-left: 120px;
  }
  .container__functioning__card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1250px) {
  .container__functioning {
    height: 240px;
    padding-right: 180px;
    padding-left: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container__functioning h2 {
    width: 100%;
  }
  .container__functioning__card {
    flex: 1;
  }
}
.container__restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 50px 20px;
  gap: 20px;
}
.container__restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container__restaurants__cards .card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  color: #000;
  background-color: #fff;
}
.container__restaurants__cards .card--new {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 14px;
  color: #008766;
  background-color: #99E2D0;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
  border: none;
}
.container__restaurants__cards .card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.container__restaurants__cards .card .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
}
.container__restaurants__cards .card .description h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.container__restaurants__cards .card .description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
.container__restaurants__cards .card .description .likes {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.container__restaurants__cards .card .description .like {
  font-size: 22px;
  position: absolute;
}
.container__restaurants__cards .card .description .like--active {
  position: absolute;
  opacity: 0;
  z-index: 9999;
  font-size: 22px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__restaurants__cards .card .description .like--active:hover {
  transform-origin: bottom;
  opacity: 1;
}
.container__restaurants__cards .card .description .like--active:hover + .like {
  opacity: 0;
}
@media screen and (min-width: 800px) {
  .container__restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .container__restaurants__cards a {
    display: inline-block;
    width: 45%;
  }
}
@media screen and (min-width: 800px) {
  .container__restaurants {
    padding-right: 120px;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1000px) {
  .container__restaurants {
    padding-right: 180px;
    padding-left: 180px;
  }
}

@keyframes balls {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loading {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes progress-like {
  0% {
    opacity: 1;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.gradient-button {
  padding: 15px 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
.gradient-button:hover {
  transition: opacity 0.2s ease-out;
  opacity: 0.8;
}

.title-section {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.container__footer {
  background-color: #353535;
  color: #fff;
  width: 100%;
  padding: 22px 25px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 16px;
}
.container__footer img {
  width: 137px;
  margin-bottom: 14px;
}
.container__footer a {
  color: #fff;
  font-size: 16px;
}
.container__footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 800px) {
  .container__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 120px;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    padding: 25px 50px;
    align-items: center;
    justify-content: flex-start;
  }
  .container__footer img {
    margin-bottom: 0;
    width: 129px;
    margin-left: 40px;
  }
  .container__footer ul {
    flex-direction: row;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
