@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes shake {
  25% {
    transform: translateY(5%);
  }
  75% {
    transform: translateY(-5%);
  }
}
@keyframes balls {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loading {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes menu {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 22;
  animation: loading 3s forwards;
  background: #fff;
}
.loader__ball {
  width: 50px;
  height: 50px;
  background-color: #fff;
  animation: balls 1s infinite backwards ease-in-out alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__ball i {
  font-size: 2rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loader__ball--1 {
  animation-delay: 1124ms;
}
.loader__ball--2 {
  animation-delay: 400ms;
}
.loader__ball--3 {
  animation-delay: 994ms;
}
.loader__ball--4 {
  animation-delay: 392ms;
}
.loader__ball--5 {
  animation-delay: 1130ms;
}

.container__location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 1;
}
.container__location button {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  border: none;
}
.container__location span {
  margin-right: 15px;
}
.container__reservation {
  height: 300px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container__reservation__title {
  max-width: 275px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 0 15px;
  margin-top: 10px;
}
.container__reservation__text {
  max-width: 315px;
  text-align: center;
  color: #353535;
  font-size: 18px;
  line-height: 22px;
  padding: 0 15px;
}
@media screen and (min-width: 800px) {
  .container__reservation {
    padding-right: 120px;
    padding-left: 120px;
  }
  .container__reservation__title {
    max-width: 100%;
  }
  .container__reservation__text {
    max-width: 100%;
  }
}
.container__functioning {
  width: 100%;
  height: 440px;
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.container__functioning__card {
  display: flex;
  width: 100%;
  height: 73px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 10px;
}
.container__functioning__card .number {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -10px;
}
.container__functioning__card .icon {
  color: #7E7E7E;
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 50px;
}
.container__functioning__card .text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.container__functioning__card--active {
  color: #9356DC !important;
}
@media screen and (min-width: 700px) {
  .container__functioning {
    padding-right: 120px;
    padding-left: 120px;
  }
  .container__functioning__card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .container__functioning__card .icon {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1250px) {
  .container__functioning {
    height: 240px;
    padding-right: 180px;
    padding-left: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container__functioning h2 {
    width: 100%;
  }
  .container__functioning__card {
    flex: 1;
    justify-content: flex-start;
  }
  .container__functioning__card .icon {
    margin-right: 10px;
    margin-left: 40px;
  }
}
.container__restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 50px 20px;
  gap: 20px;
}
.container__restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container__restaurants__cards .card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  color: #000;
  background-color: #fff;
}
.container__restaurants__cards .card--new {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 14px;
  color: #008766;
  background-color: #99E2D0;
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
}
.container__restaurants__cards .card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.container__restaurants__cards .card .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
}
.container__restaurants__cards .card .description h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.container__restaurants__cards .card .description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
@media screen and (min-width: 800px) {
  .container__restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .container__restaurants__cards a {
    display: inline-block;
    width: 45%;
  }
}
@media screen and (min-width: 800px) {
  .container__restaurants {
    padding-right: 120px;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1000px) {
  .container__restaurants {
    padding-right: 180px;
    padding-left: 180px;
  }
}

@keyframes shake {
  25% {
    transform: translateY(5%);
  }
  75% {
    transform: translateY(-5%);
  }
}
@keyframes balls {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loading {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes menu {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.restaurant__image {
  height: 320px;
}
.restaurant__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__details {
  padding: 50px 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
  background-color: #EAEAEA;
  position: relative;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurant__details__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.restaurant__details__title h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.restaurant__details__starter {
  margin-top: 30px;
  opacity: 0;
  animation: menu 2s both;
}
.restaurant__details__starter--1 {
  animation-delay: 0.6666666667s;
}
.restaurant__details__starter--2 {
  animation-delay: 1.3333333333s;
}
.restaurant__details__starter--3 {
  animation-delay: 2s;
}
.restaurant__details__starter__card {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4.01px 15.04px rgba(0, 0, 0, 0.1019607843);
  border-radius: 16px;
  display: flex;
  width: 100%;
  height: 72px;
  overflow: hidden;
}
.restaurant__details__starter__card__description {
  padding: 15px;
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.restaurant__details__starter__card__description h4 {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__details__starter__card__description p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__details__starter__card__price {
  font-weight: 700;
  width: 10%;
  height: 100%;
  margin-left: auto;
  margin-right: 10px;
  transform: translateX(20px);
  transition: all 1s ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.restaurant__details__starter__card__price p {
  white-space: nowrap;
}
.restaurant__details__starter__card--check {
  display: flex;
  height: 100%;
  transform: translateX(20px);
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 1s ease-in-out;
}
.restaurant__details__starter__card--check i {
  font-size: 20px;
  background-color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__details__starter__card:hover {
  cursor: pointer;
}
.restaurant__details__starter__card:hover > .restaurant__details__starter__card--check {
  padding-right: 19px;
  padding-left: 19px;
  transform: translateX(1px);
  transition: all 800ms 150ms ease-in-out;
}
.restaurant__details__starter__card:hover > .restaurant__details__starter__card__price {
  transform: translateX(0);
  transition: transform 800ms 150ms ease-in-out;
}
.restaurant__details__order {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .restaurant__details {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
  }
  .restaurant__details__title {
    justify-content: center;
    padding-right: 0;
  }
  .restaurant__details__title .likes {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1250px) {
  .restaurant__details {
    padding-right: 170px;
    padding-left: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__details__starter {
    width: 90%;
  }
}

@keyframes shake {
  25% {
    transform: translateY(5%);
  }
  75% {
    transform: translateY(-5%);
  }
}
@keyframes balls {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loading {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes menu {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.gradient-button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
.gradient-button:hover {
  transition: opacity 0.2s ease-out;
  opacity: 0.8;
}

.title-section {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.container {
  margin: 0;
}
.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
.container__logo .logo {
  width: 200px;
}
.container__logo--back {
  position: absolute;
  color: #353535;
  left: 20px;
}
.container .likes {
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 22px;
  position: relative;
}
.container .like {
  position: absolute;
  padding: 10px;
  opacity: 1;
  transition: opacity 800ms 150ms ease-in-out;
}
.container .like--active {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 700ms 153ms ease-in-out;
}
.container .like--active:hover {
  transform-origin: bottom;
  opacity: 1;
  animation: shake 400ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
  transition: all 700ms 153ms ease-in-out;
}
.container .like--active:hover + .like {
  opacity: 0;
  transition: all 700ms 150ms ease-in-out;
}
.container .decorated-title {
  display: inline-block;
  text-transform: uppercase;
}
.container .decorated-title h3 {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 300;
}
.container .decorated-title h3 span::after {
  margin-left: -100%;
  margin-right: 50%;
  margin-top: 30px;
  vertical-align: top;
  border-top: solid 3px #99E2D0;
  content: "";
  height: 100%;
  display: inline-block;
  width: 50%;
}
.container__footer {
  background-color: #353535;
  color: #fff;
  width: 100%;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
.container__footer img {
  width: 137px;
  margin-bottom: 14px;
}
.container__footer div {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}
.container__footer a {
  color: #fff;
  font-size: 16px;
}
.container__footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 800px) {
  .container__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 120px;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    padding: 80px 50px 25px 25px;
    align-items: center;
    justify-content: flex-start;
  }
  .container__footer img {
    margin-bottom: 0;
    width: 129px;
    margin-left: 50px;
  }
  .container__footer div {
    flex-direction: row-reverse;
  }
  .container__footer ul {
    flex-direction: row;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
